@import url(https://fonts.googleapis.com/css?family=Cinzel|Montserrat|Open+Sans:800);
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: #edece7;
  --site-hrz-padding: 1.2em;
  --site-vrt-padding: 0.8em;
  --menu-hrz-padding: 0.4em;
  --menu-vrt-padding: 0.7em;
  --menu-margin: 0.5em;
  --menu-font-size: 120%;
  --head-top-font-color: #fff;
  --head-scr-font-color: #aaa;
  --shadow-color: #00000099;
  --royal-green: #004f28;
  --slider-width: 180px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding-top: var(--site-vrt-padding);
  font-family: 'Cinzel', serif;
  font-size: var(--menu-font-size);
  line-height: 1;
  transition: all 0.2s ease-out;
}
header.scroll {
  background-color: #fff;
  box-shadow: 1px 1px 3px var(--shadow-color);
}
header > .wrapper > div:first-child {
  flex-grow: 1;
  float: left;
  padding-left: var(--site-hrz-padding);
}
.logo {
  background-image: url(w.svg);
  background-repeat: no-repeat;
  background-position: var(--site-hrz-padding) 0;
}
header.scroll .logo {
  background-image: url(g.svg);
}
header ul,
#slider ul,
.ribbon ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  text-decoration: none;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  margin: var(--menu-margin) 0;
  color: var(--head-top-font-color);
  text-shadow: 0.05em 0.03em var(--shadow-color);
  transition: all 0.2s ease-out;
}
header ul li:last-child a {
  padding-right: 0;
}
header.scroll ul li a {
  color: var(--head-scr-font-color);
  text-shadow: 0.05em 0.03em #00000000;
}
header ul li.current a {
  cursor: default;
  color: var(--royal-green);
  text-shadow: 0.05em 0.03em #00000000;
}
.wrapper {
  display: flex;
  /*max-width: 60em;*/
  max-width: 1000px;
  margin: 0 auto;
}
#menu {
  padding-right: var(--site-hrz-padding);
  vertical-align: top;
}
#menu-flag {
  display: none;
}
#hamburger {
  float: right;
  height: 1em;
  width: 1em;
  cursor: pointer;
  user-select: none;
  margin: var(--menu-margin) 0;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  padding-right: 0;
}
#hamburger > div {
  height: 2px;
  width: 1em;
  margin: 3px auto;
  background-color: var(--head-top-font-color);
  transition: all .2s ease-out;
  box-shadow: 0.03em 0.02em 0.08em #00000066;
}
header.scroll #hamburger > div {
  background-color: var(--head-scr-font-color);
  box-shadow: 0.03em 0.02em 0.1em #00000000;
}
#menu-flag:checked ~ * #hamburger > div:nth-child(1) {
  transform: translateY(0.27em) rotateZ(45deg);
  box-shadow: 0.03em 0.02em 0.1em #00000000;
}
#menu-flag:checked ~ * #hamburger > div:nth-child(2) {
  width: 0;
  box-shadow: 0.03em 0.02em 0.1em #00000000;
}
#menu-flag:checked ~ * #hamburger > div:nth-child(3) {
  transform: translateY(-0.27em) rotateZ(-45deg);
  box-shadow: 0.03em 0.02em 0.1em #00000000;
}
#slider {
  position: fixed;
  width: calc(var(--slider-width) - 2 * var(--site-hrz-padding));
  height: 100%;
  top: 0;
  right: calc(-1 * var(--slider-width));
  padding-top: calc(2 * var(--site-vrt-padding) + 1em + 2 * var(--menu-vrt-padding) + 2 * var(--menu-margin));
  padding-left: var(--site-hrz-padding);
  padding-right: var(--site-hrz-padding);
  font-family: 'Cinzel', serif;
  font-size: var(--menu-font-size);
  line-height: 1;
  background-color: #555;
  box-shadow: inset 2px 0 5px -2px;
  transition: all .2s ease;
}
#slider ul {
  width: 100%;
}
#slider ul li {
  display: block;
}
#slider ul li a {
  display: block;
  text-decoration: none;
  text-align: right;
  padding: var(--menu-hrz-padding) 0;
  color: #ccc;
}
#slider ul li:first-child a {
  margin-top: calc(-1 * var(--menu-hrz-padding));
}
#slider ul li.current a {
  color: #fff;
}
.cover {
  position: relative;
  height: 66vh;
  min-height: 16em;
  transition: all .2s ease;
}
.cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover .overlay {
  position: absolute;
  width: 100%;
  bottom: 2em;
  font-family: 'Cinzel', serif;
  font-size: 120%;
  color: var(--head-top-font-color);
  text-shadow: 0.05em 0.03em #00000099;
  transition: all .2s ease;
}
.cover .overlay p {
  text-align: center;
  margin: 0.5em 0;
  padding: 0 var(--site-hrz-padding);
  cursor: default;
}
.cover .overlay p > * {
  vertical-align: middle;
}
.cover .overlay em {
  font-style: normal;
  font-size: 130%;
}
.cover ~ main > section {
  margin-top: 0;
  padding-top: var(--site-hrz-padding);
}
.ribbon {
  background: radial-gradient(ellipse at center, rgba(44,109,91,1) 0%,rgba(0,48,34,1) 100%);
  color: #c6bb9f;
  text-shadow: 0.05em 0.03em var(--shadow-color);
  transition: all .2s ease;
}
.ribbon section {
  width: 100%;
  padding-bottom: 1.5em;
}
.ribbon p,
.ribbon ul {
  width: 100%;
  text-align: center;
}
.ribbon ul li {
  display: inline-block;
  width: 4em;
  height: 4em;
  padding: 0.5em;
  margin: 0 calc(var(--site-hrz-padding) / 2);
  border: 1px solid #c6bb9f55;
  text-align: center;
  box-shadow: 0 0 3px var(--shadow-color);
}
.ribbon ul li:first-child {
  margin-left: 0;
}
.ribbon ul li:last-child {
  margin-right: 0;
}
.ribbon ul li span {
  display: block;
  position: relative;
  line-height: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 200%;
  text-shadow: none;
}
.ribbon ul li span:before {
  position: absolute;
  width: 2em;
  left: 0;
  top: 0;
  z-index: 1;
  content: attr(data-text);

  background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ribbon ul li span:after {
  position: absolute;
  width: 2em;
  left: 0;
  top: 0;
  content: attr(data-text);
  text-shadow: -0.1px 0 0.1px #c6bb9f, 0 0.1px 0.1px #c6bb9f, 1px 1px 3px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.4);
}
main > section {
  flex-grow: 1;
  margin-top: calc(2 * var(--site-vrt-padding) + 32px + 2 * var(--menu-vrt-padding) + 2 * var(--menu-margin));
  padding: 0 var(--site-hrz-padding) var(--site-vrt-padding) var(--site-hrz-padding);
  color: #6b6a67;
  transition: all .2s ease;
}
main > section > p:first-child {
  margin-top: 0;
}
#menu-flag:checked ~ main > section,
#menu-flag:checked ~ .ribbon,
#menu-flag:checked ~ .cover {
  filter: sepia(1);
}
#menu-flag:checked ~ main > section,
#menu-flag:checked ~ .ribbon,
#menu-flag:checked ~ .cover,
#menu-flag:checked ~ #slider {
  transform: translateX(calc(-1 * var(--slider-width)));
}
#menu-flag:checked ~ header #menu a {
  color: transparent;
  text-shadow: 0.05em 0.03em #00000000;
}
main > section a {
  color: var(--royal-green);
  text-decoration: none;
}
main > section a:hover {
  text-decoration: underline;
}
p {
  text-align: justify;
}
h1 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 130%;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}
table {
  border-collapse: collapse;
}
td {
  padding: 0 0 0.33em 0;
  margin: 0;
  vertical-align: top;
}
td:first-child {
  padding-right: 1em;
}
@media screen and (max-width: 35.5em) { /* 568px or less */
  header ul {
    display: none;
  }
  #hamburger {
    display: inline-block;
  }
  .cover .overlay em {
    font-size: 110%;
  }
  .wide {
    display: none;
  }
  .narrow {
    display: inline;
  }
}
@media screen and (min-width: 35.5em) and (max-width: 48em) { /* 568px - 768px */
  header ul {
    display: inline-block;
  }
  header ul li:not(.current) {
    display: none;
  }
  header ul li.current a {
    color: var(--head-top-font-color);
    text-shadow: 0.05em 0.03em var(--shadow-color);
  }
  header.scroll ul li.current a {
    color: var(--head-scr-font-color);
    text-shadow: 0.05em 0.03em #00000000;
  }
  #hamburger {
    display: inline-block;
  }
  .cover .overlay em {
    font-size: 120%;
  }
  .wide {
    display: inline;
  }
  .narrow {
    display: none;
  }
}
@media screen and (min-width: 48em) { /* 1024px */
  header ul {
    display: inline-block;
  }
  #hamburger {
    display: none;
  }
  .wide {
    display: inline;
  }
  .narrow {
    display: none;
  }
  .columns-2 {
    width: 50%;
    float: left;
  }
}
