body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: #edece7;
  --site-hrz-padding: 1.2em;
  --site-vrt-padding: 0.8em;
  --menu-hrz-padding: 0.4em;
  --menu-vrt-padding: 0.7em;
  --menu-margin: 0.5em;
  --menu-font-size: 120%;
  --head-top-font-color: #fff;
  --head-scr-font-color: #aaa;
  --royal-green: #004f28;
  --slider-width: 180px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding-top: var(--site-vrt-padding);
  font-family: 'Cinzel', serif;
  font-size: var(--menu-font-size);
  line-height: 1;
  transition: all 0.2s ease-out;
}
header.scroll {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0;
}
header > .wrapper > div:first-child {
  flex-grow: 1;
  float: left;
  padding-left: var(--site-hrz-padding);
}
header ul,
#slider ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  text-decoration: none;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  margin: var(--menu-margin) 0;
  color: var(--head-top-font-color);
  text-shadow: 0.05em 0.03em #00000099;
  transition: all 0.2s ease-out;
}

header ul li:last-child a {
  padding-right: 0;
}
header.scroll ul li a {
  color: var(--head-scr-font-color);
  text-shadow: 0.05em 0.03em #00000000;
}
header ul li.current a {
  cursor: default;
  color: var(--royal-green);
  text-shadow: 0.05em 0.03em #00000000;
}
.logo {
  fill: var(--head-top-font-color);
  transition: all 0.2s ease-out;
}
header.scroll .logo {
  fill: var(--head-scr-font-color);
}
.wrapper {
  display: flex;
  /*max-width: 60em;*/
  max-width: 1000px;
  margin: 0 auto;
}
#menu {
  padding-right: var(--site-hrz-padding);
  vertical-align: top;
}
#menu-flag {
  display: none;
}
#hamburger {
  float: right;
  height: 1em;
  width: 1em;
  cursor: pointer;
  user-select: none;
  margin: var(--menu-margin) 0;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  padding-right: 0;
}
#hamburger > div {
  height: 2px;
  width: 1em;
  margin: 3px auto;
  background-color: var(--head-top-font-color);
  transition: all .2s ease-out;
}
header.scroll #hamburger > div {
  background-color: var(--head-scr-font-color);
}
#menu-flag:checked ~ * #hamburger > div:nth-child(1) {
  transform: translateY(0.27em) rotateZ(45deg);
}
#menu-flag:checked ~ * #hamburger > div:nth-child(2) {
  width: 0;
}
#menu-flag:checked ~ * #hamburger > div:nth-child(3) {
  transform: translateY(-0.27em) rotateZ(-45deg);
}
#slider {
  position: fixed;
  width: calc(var(--slider-width) - 2 * var(--site-hrz-padding));
  height: 100%;
  top: 0;
  right: calc(-1 * var(--slider-width));
  padding-top: calc(2 * var(--site-vrt-padding) + 1em + 2 * var(--menu-vrt-padding) + 2 * var(--menu-margin));
  padding-left: var(--site-hrz-padding);
  padding-right: var(--site-hrz-padding);
  font-family: 'Cinzel', serif;
  font-size: var(--menu-font-size);
  line-height: 1;
  background-color: #555;
  box-shadow: inset 2px 0 5px -2px;
  transition: all .2s ease;
}
#slider ul {
  width: 100%;
}
#slider ul li {
  display: block;
}
#slider ul li a {
  display: block;
  text-decoration: none;
  text-align: right;
  padding: var(--menu-hrz-padding) 0;
  color: #ccc;
}
#slider ul li:first-child a {
  margin-top: calc(-1 * var(--menu-hrz-padding));
}
#slider ul li.current a {
  color: #fff;
}
.cover {
  position: relative;
  height: 66vh;
  min-height: 16em;
  transition: all .2s ease;
}
.cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover .overlay {
  position: absolute;
  width: 100%;
  bottom: 2em;
  font-family: 'Cinzel', serif;
  font-size: 120%;
  color: var(--head-top-font-color);
  text-shadow: 0.05em 0.03em #00000099;
  transition: all .2s ease;
}
.cover .overlay p {
  text-align: center;
  margin: 0.5em 0;
  padding: 0 var(--site-hrz-padding);
  cursor: default;
}
.cover .overlay p > * {
  vertical-align: middle;
}
.cover .overlay em {
  font-style: normal;
  font-size: 130%;
}
.cover ~ main > section {
  margin-top: 0;
  padding-top: var(--site-hrz-padding);
}
main > section {
  flex-grow: 1;
  margin-top: calc(2 * var(--site-vrt-padding) + 32px + 2 * var(--menu-vrt-padding) + 2 * var(--menu-margin));
  padding: 0 var(--site-hrz-padding) var(--site-vrt-padding) var(--site-hrz-padding);
  color: #6b6a67;
  transition: all .2s ease;
}
main > section > p:first-child {
  margin-top: 0;
}
#menu-flag:checked ~ .cover,
#menu-flag:checked ~ main > section {
  filter: sepia(1);
}
#menu-flag:checked ~ main > section,
#menu-flag:checked ~ .cover,
#menu-flag:checked ~ #slider {
  transform: translateX(calc(-1 * var(--slider-width)));
}
#menu-flag:checked ~ header #menu a {
  color: transparent;
}
p {
  text-align: justify;
}
@media screen and (max-width: 35.5em) { /* 568px or less */
  header ul {
    display: none;
  }
  #hamburger {
    display: inline-block;
  }
  .cover .overlay em {
    font-size: 110%;
  }
  .wide {
    display: none;
  }
  .narrow {
    display: inline;
  }
}
@media screen and (min-width: 35.5em) and (max-width: 48em) { /* 568px - 768px */
  header ul {
    display: inline-block;
  }
  header ul li:not(.current) {
    display: none;
  }
  header ul li.current a {
    color: var(--head-top-font-color);
  }
  header.scroll ul li.current a {
    color: var(--head-scr-font-color);
  }
  #hamburger {
    display: inline-block;
  }
  .cover .overlay em {
    font-size: 120%;
  }
  .wide {
    display: inline;
  }
  .narrow {
    display: none;
  }
}
@media screen and (min-width: 48em) { /* 1024px */
  header ul {
    display: inline-block;
  }
  #hamburger {
    display: none;
  }
  .wide {
    display: inline;
  }
  .narrow {
    display: none;
  }
}
