body {
  margin: 0;
  font-size: 1em;
  --site-hrz-padding: 1.2em;
  --site-vrt-padding: 0.8em;
  --menu-hrz-padding: 0.4em;
  --menu-vrt-padding: 0.7em;
  --menu-margin: 0.5em;
  --head-top-font-color: #fff;
  --head-scr-font-color: #aaa;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: var(--site-vrt-padding);
  z-index: 3;
  font-family: 'Cinzel', serif;
  font-size: 14pt;
  line-height: 1;
  background-color: #ffffff00;
  transition: background-color 0.2s ease-out;
  box-shadow: 1px 1px 3px 0 #00000000;
  transition: box-shadow 0.2s ease-out;
}
header.scroll {
  background-color: #ffffffff;
  box-shadow: 1px 1px 4px 0 #00000066;
}
header > .wrapper > a {
  flex-grow: 1;
  float: left;
  padding-left: var(--site-hrz-padding);
}
header ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  text-decoration: none;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  margin: var(--menu-margin) 0;
  color: var(--head-top-font-color);
  transition: color 0.2s ease-out;
  /*
  text-shadow: 0.05em 0.03em #888888ff;
  transition: text-shadow 0.2s ease-out;
  */
}

header ul li:last-child a {
  padding-right: 0;
}
header.scroll ul li a {
  color: var(--head-scr-font-color);
  /*
  text-shadow: 0 0 #888888ff;
  */
}
header ul li.current a {
  color: darkgreen;
  cursor: default;
}
.logo {
  fill: var(--head-top-font-color);
  transition: fill 0.2s ease-out;
}
header.scroll .logo {
  fill: var(--head-scr-font-color);
}
.wrapper {
  display: flex;
  /*max-width: 60em;*/
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper > section {
  flex-grow: 1;
  margin-top: 3.7em;
  padding-left: var(--site-hrz-padding);
  padding-right: var(--site-hrz-padding);
}
#menu {
  padding-right: var(--site-hrz-padding);
  vertical-align: top;
}
#menu-flag {
  display: none;
}
#hamburger {
  float: right;
  position: relative;
  height: 1em;
  width: 1em;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  margin: var(--menu-margin) 0;
  padding: var(--menu-vrt-padding) var(--menu-hrz-padding);
  padding-right: 0;
  overflow: visible;
}
#hamburger > span {
  display: block;
  position: relative;
  height: 2px;
  width: 1em;
  background-color: var(--head-top-font-color);
  transition: background-color .2s ease-out;
  top: 0.45em;
}
header.scroll #hamburger > span,
header.scroll #hamburger > span:before,
header.scroll #hamburger > span:after {
  background-color: var(--head-scr-font-color);
}
#hamburger > span:before,
#hamburger > span:after {
  background-color: var(--head-top-font-color);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
}
#hamburger > span:before {
  top: 5px;
}
#hamburger > span:after {
  top: -5px;
}
p {
  text-align: justify;
}
@media screen and (max-width: 35.5em) { /* 568px or less */
  header ul {
    display: none;
  }
  #hamburger {
    display: inline-block;
  }
  body {
    background-color: lightpink;
  }

}@media screen and (min-width: 35.5em) and (max-width: 48em) { /* 568px - 768px */
  header ul {
    display: inline-block;
  }
  header ul li:not(.current) {
    display: none;
  }
  header ul li.current a {
    color: var(--head-top-font-color);
  }
  header.scroll ul li.current a {
    color: var(--head-scr-font-color);
  }
  #hamburger {
    display: inline-block;
  }
  body {
    background-color: lightblue;
  }
}
@media screen and (min-width: 48em) { /* 1024px */
  header ul {
    display: inline-block;
  }
  #hamburger {
    display: none;
  }
  body {
    background-color: lightgreen;
  }
}
